<!doctype html>
<html id="app">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<meta name="description" content="关于我们">
		<title>
			关于我们
		</title>

		<script type="text/javascript">
			(function() {
				var newRem = function() {
					var html = document.documentElement;
					html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
				};
				window.addEventListener('resize', newRem, false);
				newRem();
			})();
		</script>
	</head>

	<body lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left'><b><span
style='font-size:12.0pt;mso-bidi-font-size:16.0pt;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:微软雅黑'>关于我们<span lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='text-indent:21.0pt'><span lang=EN-US
style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑;color:red'>Linking Live</span><span style='font-size:12.0pt;font-family:
"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>链活是一个集农特产溯源商城、购物社交、技能培训和娱乐游戏为一体的农特产综合性区块链落地应用平台，致力于既让有优质农特产产品商家拓展销路、迅速变现，又能让广大用户家迅速购买到心仪的产品。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1;
tab-stops:15.6pt'><![if !supportLists]><b><span lang=EN-US style='font-size:
12.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'><span
style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span></b><![endif]><b><span
style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑'>农特产溯源商城<span lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='text-indent:21.0pt'><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>商城以农特产售卖为主，立足于发现全国各地那些有特色，却由于种种原因导致没有名声的农特产，通过活力社群和用户关系链建立实现溯源商城生态闭环，让众多小地方的农特产也能销往全国各地。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='text-indent:21.0pt'><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>利用区块链去中心化、公开透明、不可篡改的特性，免费为链上特产开放大数据查询和补充功能，实现数据公开、共享，保证商城的商品都是可信赖的优质产品，杜绝虚假交易的存在，达到可信赖的良性商业循环！<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;font-family:
"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>2.</span></b><b><span
style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑'>购物社交（链活社区）<span lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:21.0pt;mso-list:l1 level1 lfo2;
tab-stops:15.6pt'><![if !supportLists]><span lang=EN-US style='font-size:12.0pt;
mso-bidi-font-size:16.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑'><span style='mso-list:Ignore'>①.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;mso-bidi-font-size:
16.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>解冻活力果免费购物，用户通过在平台发文、点赞、评论等方式，可以获得活跃度奖励，解冻活力果可以在链活溯源商城购物。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:21.0pt;mso-list:l1 level1 lfo2;
tab-stops:15.6pt'><![if !supportLists]><span lang=EN-US style='font-size:12.0pt;
mso-bidi-font-size:16.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑'><span style='mso-list:Ignore'>②.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;mso-bidi-font-size:
16.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>优质内容流量变现，卖家和用户都可以在链活社交版块发布相关产品相关的信息和体验，从而吸引更多的用户关注、购买相关产品。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='margin-left:0cm;text-indent:21.0pt;mso-list:l1 level1 lfo2;
tab-stops:15.6pt'><![if !supportLists]><span lang=EN-US style='font-size:12.0pt;
mso-bidi-font-size:16.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑'><span style='mso-list:Ignore'>③.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;mso-bidi-font-size:
16.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>智能推荐打造爆款，通过后台大数据分析，将热销款和用户点赞、评论数多的产品，在社交版块的排序上更加靠前甚至置顶，从而吸引更多人购买。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;font-family:
"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>3.</span></b><b><span
style='font-size:12.0pt;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
微软雅黑'>农特产技术与销售培训班 <span lang=EN-US><o:p></o:p></span></span></b></p>

<p class=MsoNormal style='text-indent:21.0pt'><span style='font-size:12.0pt;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:微软雅黑'>平台开办专门的区块链技术与销售培训班，业内大咖亲自讲解，阶段式培养农特产技术与销售人才。报名参与农特产培训，还可额外获得贡献值，提升用户等级，享受与之对应的相关权益！用户<a
name="_GoBack"></a>也可以申请开启培训班，在分享经验的同时，获得更多收益。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>