<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="贡献值与返利规则">
    <title>
        贡献值与返利规则
    </title>
    <style>
        #msgbox {
				padding:0.5rem;
			}
			p {
		font-size: 1.4rem;
	}
	th {
		font-weight:400;
	}
		</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>

<body>

    <div id="msgbox">
        <div>
            <h2>什么是贡献值？</h2>
            <p>贡献值是用户对链活平台贡献的判定标准。贡献值达到一定数量后，用户的等级提升，并获得一棵对应等级的活力树。另外，用户的贡献值越高，活力果的生长速度也会越快。</p>
            <h2>贡献值怎么获得？</h2>
            <p>(1).邀请：邀请新用户注册链活并完成实名认证，双方均可获得10点贡献值</p>
            <p>(2).充值：平台充值越多，获得的贡献值越多。</p>
            <table border="1" cellpadding="1" rules="all" style="width:100%;text-align:center;font-size:1.6rem;">
                <tr>
                    <th>充值金額/元</th>
                    <th>100</th>
                    <th>200</th>
                    <th>500</th>
                    <th>1000</th>
                    <th>2000</th>
                    <th>5000</th>
                    <th>10000</th>
                </tr>
                <tr>
                    <td>获得贡献值/点</td>
                    <td>5</td>
                    <td>12</td>
                    <td>35</td>
                    <td>80</td>
                    <td>180</td>
                    <td>500</td>
                    <td>1100</td>
                </tr>
            </table>
            <p>(3).消费：在平台单次消费满200元可获得1点贡献值。</p>
            <!--<p>4.认证：完善个人信息即可获得5点贡献值。</p>-->
            <p>(4).培训：用户报名加入区块链技术与应用学习班，即可获得相对应的贡献值</p>
            <table border="1" cellpadding="1" rules="all" style="width:100%;text-align:center;font-size:1.6rem;">
                <tr>
                    <th>学习班类型</th>
                    <th>区块链技术与应用信息班</th>
                    <th>区块链技术与应用初级班</th>
                    <th>区块链技术与应用高级班</th>
                </tr>
                <tr>
                    <td>费用/VTB</td>
                    <td>12</td>
                    <td>78</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>贡献值</td>
                    <td>100</td>
                    <td>600</td>
                    <td>4200</td>
                </tr>
            </table>
            <h2>返利规则</h2>
            <p>好友注册成功后，邀请人(白银及以上等级)可获得被邀请用户在平台充值消费额的25%分成！</p>
        </div>
       
    </div>

</body>

</html>