<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="链活充值协议">
    <title>
        链活充值协议
    </title>
    <style>
        @font-face{
        font-family:"Times New Roman";
        }
        
        @font-face{
        font-family:"宋体";
        }
        
        @font-face{
        font-family:"Wingdings";
        }
        
        @font-face{
        font-family:"Calibri";
        }
        
        @font-face{
        font-family:"-webkit-standard";
        }
        
        p.MsoNormal{
        mso-style-name:正文;
        mso-style-parent:"";
        margin:0pt;
        margin-bottom:.0001pt;
        mso-pagination:none;
        text-align:justify;
        text-justify:inter-ideograph;
        font-family:Calibri;
        mso-fareast-font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-size:10.5000pt;
        mso-font-kerning:1.0000pt;
        }
        
        h1{
        mso-style-name:"标题 1";
        mso-style-next:正文;
        mso-margin-top-alt:auto;
        mso-margin-bottom-alt:auto;
        mso-pagination:none;
        text-align:left;
        mso-outline-level:1;
        font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-weight:bold;
        font-size:24.0000pt;
        mso-font-kerning:22.0000pt;
        }
        
        h4{
        mso-style-name:"标题 4";
        mso-style-noshow:yes;
        mso-style-next:正文;
        mso-margin-top-alt:auto;
        mso-margin-bottom-alt:auto;
        mso-pagination:none;
        text-align:left;
        mso-outline-level:4;
        font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-weight:bold;
        font-size:12.0000pt;
        }
        
        span.10{
        font-family:'Times New Roman';
        }
        
        p.p{
        mso-style-name:"普通\(网站\)";
        mso-margin-top-alt:auto;
        mso-margin-bottom-alt:auto;
        mso-pagination:none;
        text-align:left;
        font-family:Calibri;
        mso-fareast-font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-size:12.0000pt;
        }
        
        span.msoIns{
        mso-style-type:export-only;
        mso-style-name:"";
        text-decoration:underline;
        text-underline:single;
        color:blue;
        }
        
        span.msoDel{
        mso-style-type:export-only;
        mso-style-name:"";
        text-decoration:line-through;
        color:red;
        }
        
        table.MsoNormalTable{
        mso-style-name:普通表格;
        mso-style-parent:"";
        mso-style-noshow:yes;
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-padding-alt:0.0000pt 5.4000pt 0.0000pt 5.4000pt;
        mso-para-margin:0pt;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-family:'Times New Roman';
        font-size:10.0000pt;
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;
        }
        @page{mso-page-border-surround-header:no;
            mso-page-border-surround-footer:no;}@page Section0{
        margin-top:72.0000pt;
        margin-bottom:72.0000pt;
        margin-left:90.0000pt;
        margin-right:90.0000pt;
        size:595.3000pt 841.9000pt;
        layout-grid:15.6000pt;
        }
        div.Section0{page:Section0;}</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>

<body style="tab-interval:21pt;text-justify-trim:punctuation;">
    <!--StartFragment-->
    <div class="Section0" style="layout-grid:15.6000pt;">
        <h1 align="center" style="mso-pagination:widow-orphan;text-align:center;line-height:15.0000pt;background:rgb(255,255,255);"><b><span
                    style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="宋体">链</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="宋体">活</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="宋体">充值协议</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;">
                    <o:p></o:p>
                </span></b></h1>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">尊敬的用户，为保障您的合法权益，请您在充值之前仔细阅读本协议条款，以免造成误解。当您点击</font>“充值”按钮后，即视为您已阅读、理解本协议，并同意按本协议的规定参与充值。
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">一、</font>
                    <font face="-webkit-standard">充值使用</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户可通过支付宝、微信等三方支付平台充值到</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">账户，充值金额可用于平台上的一切交易。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">二、特别说明</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.1、总额构成</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">总额是指用户实际支付的充值本金、通过平台赚取的交易佣金及</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台各种形式奖励现金，这些总和会构成用户的账户总额</font>(人民币);
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.2、总额有效期</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">总额有效期为自进入</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">账户之日起直至消费完为止</font>;可
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">提</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">现部分直至审批提现完为止。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.3、总额使用规则</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">总额包括用户收入和用户充值两部分，平台一切奖励</font>(除登录奖励的现金红包外)及充值均划归入“我的充值”账户，可用作支付
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">或提现（提现平台会扣取</font>10%<font face="宋体">的推广费用）</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">但不能转赠他人。如若特殊情况要申请提现，每个账户仅有一次申请提现权利。</font>“我的收入”为用户交易赚取佣金，符合提现条件用户可申请提现。
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4、余额花费及退款规则</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户使用期间会优先扣除</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">账户中</font>“我的充值”。当用户未在平台上产生交易时，不可退回账户充值金额。若用户已发生平台交易，优先扣除用户充值金额，“我的充值”中所剩余额可做在平台其他消费使用。如有退款申请
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">，</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">请将邮件发送至邮箱</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">821510504@qq</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">.com</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">;</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">“我的收入”的金额可在用户状态正常情况下认证本人身份证件准确无误后进行申请提现。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">提现时间为：工作日</font>9:00-18:00，请在提现时间申请。
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">符合提现条件并同意扣除</font>10 %
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="宋体">推广</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">费的，申请提现后，经过平台核实无问题资金会在用户申请之日起</font>72小时内审批提现。
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">(若对充值有疑义可发邮件至</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">821510504@qq</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(255,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">.com)</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">提现手续费用于微信、支付宝等第三方平台手续费及平台运营使用。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.5、关于平台奖励使用及充值说明</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户所有在平台所获得的奖励，包括但不限于登录、邀请认证、话题、举报、抽奖、签到、活动以及临时性其他奖励，奖励内容均划归到该用户的</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">的充值账户，可用户平台一切正当消费，不可申请提现使用。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.6、关于邀请好友注册双方奖励说明</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">注册平台后用户邀请好友注册</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">，邀请者获得的现金奖励划归到该用户的</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">的充值账户，可用于平台一切正当消费，不可申请提现使用</font>;被邀请者注册后获得的奖励与被邀请者注册后获得的其他平台奖励均视为平台奖励，划归到该用户的
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">的充值账户，可用于平台一切正当消费，不可申请提现使用。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">三、正当性保证</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台包含充值赠送在内的所有优惠推广活动仅面向正当、合法使用本平台的用户。一旦用户存在利用</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台的规则漏洞进行任何形式的作弊行为</font>(包括但不限于刷单、诈骗等通过平台的活动获得不正当的经济利益)，
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">有权取消与作弊行为相关账户的赠送金额、追回用户作弊所得的不正当经济利益，对作弊账户及相关账户做相关处理</font>(相关处理包括但不限于禁用、封号、驳回提现、追回相关经济损失、追究法律责任等)，并保留取消用户后续使用本平台的权利，及依据严重程度追究您的法律责任。
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p>&nbsp;</o:p>
            </span></p>
    </div>
    <!--EndFragment-->
</body>


</html>