<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="链活服务保障">
    <title>
        链活服务保障
    </title>
    <style>
        @font-face{
        font-family:"Times New Roman";
        }
        
        @font-face{
        font-family:"宋体";
        }
        
        @font-face{
        font-family:"Wingdings";
        }
        
        @font-face{
        font-family:"Calibri";
        }
        
        @font-face{
        font-family:"-webkit-standard";
        }
        
        p.MsoNormal{
        mso-style-name:正文;
        mso-style-parent:"";
        margin:0pt;
        margin-bottom:.0001pt;
        mso-pagination:none;
        text-align:justify;
        text-justify:inter-ideograph;
        font-family:Calibri;
        mso-fareast-font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-size:10.5000pt;
        mso-font-kerning:1.0000pt;
        }
        
        h1{
        mso-style-name:"标题 1";
        mso-style-next:正文;
        mso-margin-top-alt:auto;
        mso-margin-bottom-alt:auto;
        mso-pagination:none;
        text-align:left;
        mso-outline-level:1;
        font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-weight:bold;
        font-size:24.0000pt;
        mso-font-kerning:22.0000pt;
        }
        
        h4{
        mso-style-name:"标题 4";
        mso-style-noshow:yes;
        mso-style-next:正文;
        mso-margin-top-alt:auto;
        mso-margin-bottom-alt:auto;
        mso-pagination:none;
        text-align:left;
        mso-outline-level:4;
        font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-weight:bold;
        font-size:12.0000pt;
        }
        
        span.10{
        font-family:'Times New Roman';
        }
        
        p.p{
        mso-style-name:"普通\(网站\)";
        mso-margin-top-alt:auto;
        mso-margin-bottom-alt:auto;
        mso-pagination:none;
        text-align:left;
        font-family:Calibri;
        mso-fareast-font-family:宋体;
        mso-bidi-font-family:'Times New Roman';
        font-size:12.0000pt;
        }
        
        span.msoIns{
        mso-style-type:export-only;
        mso-style-name:"";
        text-decoration:underline;
        text-underline:single;
        color:blue;
        }
        
        span.msoDel{
        mso-style-type:export-only;
        mso-style-name:"";
        text-decoration:line-through;
        color:red;
        }
        
        table.MsoNormalTable{
        mso-style-name:普通表格;
        mso-style-parent:"";
        mso-style-noshow:yes;
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-padding-alt:0.0000pt 5.4000pt 0.0000pt 5.4000pt;
        mso-para-margin:0pt;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-family:'Times New Roman';
        font-size:10.0000pt;
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;
        }
        @page{mso-page-border-surround-header:no;
            mso-page-border-surround-footer:no;}@page Section0{
        margin-top:72.0000pt;
        margin-bottom:72.0000pt;
        margin-left:90.0000pt;
        margin-right:90.0000pt;
        size:595.3000pt 841.9000pt;
        layout-grid:15.6000pt;
        }
        div.Section0{page:Section0;}</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>

<body style="tab-interval:21pt;text-justify-trim:punctuation;">
    <!--StartFragment-->
    <div class="Section0" style="layout-grid:15.6000pt;">
        <h1 align="center" style="mso-pagination:widow-orphan;text-align:center;line-height:15.0000pt;"><b><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                    <font face="宋体">链活</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;">
                    <font face="宋体">服务保障</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:16.0000pt;mso-font-kerning:22.0000pt;">
                    <o:p></o:p>
                </span></b></h1>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">亲爱的用户，欢迎并感谢使用</font>“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”服务平台”（以下称“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”）。“
                服务平台是一个供用户发布、交流和提供服务的信息交易平台。</span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">为了更好的为您服务，</font>“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”根据国家相关法律、法规，竭诚为您打造一个安全真实的时间与技能交易平台，保护您的合法权益。为此，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”特别采取了以下措施，请您务必仔细阅读。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;"><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <font face="宋体">第一条</font>
                    <font face="宋体">用户隐私信息保护</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”从技术手段，到数据调取流程制度采取多个举措，保障用户信息安全，并制定了严格的用户信息保密制度。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">1、平台针对用户的各类信息，资料，进行技术性加密，以防止用户隐私泄露。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">2、“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台对保密用户隐私信息实行严格保密制度，确保用户信息安全。其中包括身份认证资料，技能认证资料、手机号码、手机设备识别码、IP地址、用户聊天记录，用户举报或者反馈的问题及信息、交易详情及明细(但不限于以上信息类资料)等。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">3、
                未经用户授权同意，“</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”不向任何第三方或其他组织、企事业单位、公开用户隐私信息。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">除以下特定情形：</font>
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>1）违反国家相关法律、法规或执法部门依法要求提供用户的隐私信息；
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>2）由于特殊原因用户自行将“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”账户、密码，泄露或告知他人使用，由此产生的任何损失，由本人自行负责；</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>3）用户与“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”就其隐私信息的使用达成公开协议时，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”根据协议可选择是否公开隐私信息；</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>4）非“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”主观行为及不可抗力事件，导致的用户隐私信息泄露的；</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">4、“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”严格遵守国家《未成年人保护法规定》的法律、法规，保护未成年人的合法权益，十六周岁以下的未成年人不能注册“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”帐号。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;"><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <font face="宋体">第二条</font>
                    <font face="宋体">保障交易安全</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”全力为您打造一个放心安全的交易平台，采取多种举措保障交易双方信息的真实性，提高交易平台的安全性。除现阶段主流的用户认证系统，还设置了更为严密的交易流程和明确的风险提示等功能。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">防范功能措施如下：</font>
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">1、提供目前主流身份认证方式：</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>1）手机号认证：“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”要求用手机号注册，输入手机验证码完成注册。根据国家《移动互联网应用程序信息服务管理规定》“后台实名、前台自愿”的原则，用户需要使用手机号注册“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”账号，并提供相关真实用户信息。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>2）身份认证：需要上传身份证照片及身份证号认证，人工审核通过后，完成注册认证。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>3）技能认证+多技能认证（技能认证支持多个技能证书认证）：上传相关技能证书照片，人工审核通过后，完成注册认证。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>4）微博认证：用户绑定微博或使用微博登录，完成认证。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>5）微信认证：用户绑定微信或使用微信登录，完成认证。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>6）芝麻信用认证：用户绑定芝麻信用后，完成认证。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>7）支付宝认证：使用支付宝充值或支付，完成认证。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">认证方式详情，请在个人中心</font>“个人认证”模块查询。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">2、严谨的交易流程：</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>1）免费电话沟通功能：为保障用户交易安全和信息真实可靠性，平台提供统【语音外呼电话】及【10分钟免费电话】模块，交易双方均可免费使用此功能。鼓励交易双方购买前进行事项沟通，确认信息、安全无误后确认服务内容。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>2）“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台担保交易功能：为保障买卖双方合法权益，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台为在平台上进行支付的用户，提供如下交易保障：关于订金：直接在平台上支付订金，确认订金后，订金才会支付给服务者。有效规避因对方违约给用户带来损失。关于余款：确认订金后支付余款，在“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台上支付余款。余款将进入“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台。在服务结束后，需要买方确认余款，余款支付给卖方。防止服务过程中因对方违约给用户带来损失。服务双方如果出现纠纷，可以向平台申请仲裁。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>3）平台管控机制：“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”用户支付流程必须全部在平台上完成，平台之外的任何交易行为，产生任何问题，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”均不承担任何负责，由用户自行负责。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>4）风险提示机制：任何涉及金钱的交易动作，平台都会提前向用户提示服务风险和预见性风险的预警。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>5）交易纠纷处理机制：凡用户对交易服务有争议的，平台根据双方举证材料（沟通记录、图像材料、及可证明类材料）及官方出具违规通知类的，将给予账户暂时性或永久性冻结处理。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>6）“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台保险保障计划为保障平台用户的权益，增强买卖双方人身和财产安全保障，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”为符合要求的用户，提供免费的保险；10万元交通综合意外保障计划：符合赠险要求的用户，发送需求和技能之后可以免费领取交通综合意外保障，成功领取保险的用户可享受自驾、公共交通和航空等出行方式的交通保障，为双方线下交易提供全方位的保险服务，增加平台用户的附加权益；账户资金安全保障：在“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台支付定金/全款的用户，可享受“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台赠送的个人账户资金安全保险，保障名下账户的资金安全，账户发生盗刷盗用盗取等事件，保险公司酌情进行赔付。具体内容请以保险协议为准。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;"><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <font face="宋体">第三条</font>
                    <font face="宋体">关于用户审核</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">1、人工审核：为确保用户在平台提交的信息安全可靠，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”设置专门的人工审核部门，制定严格的审核规范，第一时间对平台提交信息进行认证。针对对服务内容、需求发布、应约邀请、线上操作等，每一个信息细节都实施了24小时监控并严格把关。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">2、审核内容：包含了头像、昵称、个人简介、教育经历、竞争描述、工作经历、服务介绍、荣誉资质、服务描述、专业问答、应邀介绍、需求详情、相册图片、身份/技能认证资料等信息。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;"><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <font face="宋体">第四条</font>
                    <font face="宋体">关于用户违规处理</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台提供了“个人中心”模块，提供了详细用户使用手册，其中包括：《使用协议》、《常见问题》、《</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="宋体">贡献值</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">规则》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="宋体">活力贝</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">规则》、《赚钱攻略》、《审核规范》等。</font>
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">对于违规操作及不正当交易等行为，</font>“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”为用户提供举报、拉黑及信息反馈等功能，提倡用户及时举报不良行为，维护自身合法权益。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">1、违规账号处理：</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">同时</font>“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”将根据违规情节大小给予如下处理方式：</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>1）禁用：平台有违反《“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台审核规范》的行为，但情节不严重用户，根据“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”审核确认后，禁用时间为7天，连续禁用三次会自动封号；</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>2）封号：平台有违反《“
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台审核规范》的操作行为且情节严重用户（请参照上述表述）平台或将给予永久封号处理；</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">2、冻结资金处理：有异常交易行为及疑似违规交易行为的用户，根据情节严重程度“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”审核确认后，将给予资金冻结处理。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">3、违法行为处理：“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”一旦发现用户有违法行为，将全力配合执法部门，按照相关要求进行处理。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;"><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <font face="宋体">第五条</font>
                    <font face="宋体">其他事项</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-weight:bold;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">1、“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”为用户提供两个举报通道，一经发现以上违规行为可以随时举报。我们会第一时间进行处理。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>1）应邀后的聊天窗口：聊天窗口右上角点击【举报有奖】按钮。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <font face="-webkit-standard">（</font>2）用户个人主页：进入被举报者个人主页点击【…】按钮。
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">2、欢迎各位用户积极向平台反馈信息，我们将第一时间积极配合反馈处理。出现任何问题，请随时与我们积极沟通，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”会竭尽全力解决。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">3、本声明未涉及的问题请参见国家有关法律法规，当本声明与国家有关法律法规冲突时，以国家法律法规为准。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">4、本规范为动态文档，“</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">”平台将持续提供各种服务保障，为用户提供一个安全健康的交易平台。同时，我们也会根据相关法律法规或产品运营的需要对上述内容进行修改并更新。请您经常查看以便获得最新信息。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:10.5000pt;mso-font-kerning:1.0000pt;"><br></span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:10.5000pt;mso-font-kerning:1.0000pt;"><br></span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <font face="宋体">官方客服</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <font face="宋体">邮箱</font>
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';color:rgb(0,0,0);font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <font face="宋体">：</font>821510504@qq.com
            </span><span style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
    </div>
    <!--EndFragment-->
</body>


</html>