<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="链活服务协议">
    <title>
        链活服务协议
    </title>
    <style>
        @font-face{
            font-family:"Times New Roman";
            }
            
            @font-face{
            font-family:"宋体";
            }
            
            @font-face{
            font-family:"Wingdings";
            }
            
            @font-face{
            font-family:"Calibri";
            }
            
            @font-face{
            font-family:"-webkit-standard";
            }
            
            p.MsoNormal{
            mso-style-name:正文;
            mso-style-parent:"";
            margin:0pt;
            margin-bottom:.0001pt;
            mso-pagination:none;
            text-align:justify;
            text-justify:inter-ideograph;
            font-family:Calibri;
            mso-fareast-font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-size:10.5000pt;
            mso-font-kerning:1.0000pt;
            }
            
            h1{
            mso-style-name:"标题 1";
            mso-style-next:正文;
            mso-margin-top-alt:auto;
            mso-margin-bottom-alt:auto;
            mso-pagination:none;
            text-align:left;
            mso-outline-level:1;
            font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-weight:bold;
            font-size:24.0000pt;
            mso-font-kerning:22.0000pt;
            }
            
            h4{
            mso-style-name:"标题 4";
            mso-style-noshow:yes;
            mso-style-next:正文;
            mso-margin-top-alt:auto;
            mso-margin-bottom-alt:auto;
            mso-pagination:none;
            text-align:left;
            mso-outline-level:4;
            font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-weight:bold;
            font-size:12.0000pt;
            }
            
            span.10{
            font-family:'Times New Roman';
            }
            
            p.p{
            mso-style-name:"普通\(网站\)";
            mso-margin-top-alt:auto;
            mso-margin-bottom-alt:auto;
            mso-pagination:none;
            text-align:left;
            font-family:Calibri;
            mso-fareast-font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-size:12.0000pt;
            }
            
            span.msoIns{
            mso-style-type:export-only;
            mso-style-name:"";
            text-decoration:underline;
            text-underline:single;
            color:blue;
            }
            
            span.msoDel{
            mso-style-type:export-only;
            mso-style-name:"";
            text-decoration:line-through;
            color:red;
            }
            
            table.MsoNormalTable{
            mso-style-name:普通表格;
            mso-style-parent:"";
            mso-style-noshow:yes;
            mso-tstyle-rowband-size:0;
            mso-tstyle-colband-size:0;
            mso-padding-alt:0.0000pt 5.4000pt 0.0000pt 5.4000pt;
            mso-para-margin:0pt;
            mso-para-margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            font-family:'Times New Roman';
            font-size:10.0000pt;
            mso-ansi-language:#0400;
            mso-fareast-language:#0400;
            mso-bidi-language:#0400;
            }
            @page{mso-page-border-surround-header:no;
                mso-page-border-surround-footer:no;}@page Section0{
            margin-top:72.0000pt;
            margin-bottom:72.0000pt;
            margin-left:90.0000pt;
            margin-right:90.0000pt;
            size:595.3000pt 841.9000pt;
            layout-grid:15.6000pt;
            }
            div.Section0{page:Section0;}</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>

<body style="tab-interval:21pt;text-justify-trim:punctuation;">
    <!--StartFragment-->
    <div class="Section0" style="layout-grid:15.6000pt;">
        <h1 align="center" style="mso-pagination:widow-orphan;text-align:center;line-height:15.0000pt;background:rgb(255,255,255);"><b><span
                    style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;mso-font-kerning:22.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="宋体">链活</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;mso-font-kerning:22.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="宋体">服务协议</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;mso-font-kerning:22.0000pt;">
                    <o:p></o:p>
                </span></b></h1>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">本平台依据本服务协议提供服务，平台注册用户注册成功即代表您已经阅读并同意《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">你服务协议》。请在发布服务和需求之前认真阅读本协议。在本平台已经操作发布服务或需求、即代表您已经认真阅读并同意本协议全部条款。本条款生效版本以平台线上为最终版本。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">一、定义和释义</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">在本服务协议及本平台其它协议相关规定中所使用的下列词语，除非另有定义，应具有以下含义：</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．1
                “本平台”指</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">APP产品、官网、H5页面、公众号功能等</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">官方相关全部产品。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．2
                “用户”指符合《</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用协议》所规定的条件，并根据《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用协议》在本平台注册，同意遵守本平台各种规则、条款（包括但不限于本服务协议），并使用本平台的个人（</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">目前仅接受个人入驻平台，暂不支持机构及商家入驻，以个人名义入驻的机构或商家暂不受平台保护）。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．3
                “本服务协议”指本平台根据本服务协议而提供的网上交易服务协议以及</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用手册充包括的《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用协议》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">充值协议》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">服务保障》、《关于</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">贡献值</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">规则》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">活力贝</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">规则》、《审核规范》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户行为规范》等及本平台其他相关规定。同时，本平台有权随时变更和修改以上规定，并以线上版本作为生效版本。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．4
                “服务者”是指注册成为平台的用户，在符合《</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用协议》及《审核规范》下发布服务的用户。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．5
                “服务”是指符合平台规范，以提供正规服务为诉求并在平台通过提供劳动的形式满足他人在平台上的合法诉求的行为。</span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．6
                “需求者”是指注册成为平台的用户，在符合《</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用协议》及《审核规范》下发布需求的用户。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．7
                “订单”又称“需求”，是指需求者在平台对服务者劳动的合法诉求。</span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1．8
                “</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">酬劳金</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">金</font>”是指平台注册用户为表达诉求意向在交易前
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">注明给出的服务费用</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">二、关于本平台</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2．1本平台仅为用户提供一个互通信息、进行物品、劳务交易的平台，充当买卖双方之间的交流及撮合媒介。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2．2公布在本平台上的交易标的是用户自行发布的劳动服务，并非本平台所有。平台所有服务者与本平台无劳动雇佣关系、平台不对劳务关系主体所涉及的各方承担责任。对于用户发布在本平台的服务、提供的信息、参与应邀及竞标的过程，本平台对产生的信息已做相关审核，并对违反本平台《审核规范》及相关规定的信息（包括但不限于色情、反动、违法）等做相应处理，但不对用户产品信息的真伪性进行负责。对于因交易产生的任何纠纷，
                平台作为信息撮合平台，可提供介入调停，但不对最后结果负责。若用户对调停结果有异议，</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">有义务向相关司法部门提供纠纷用户在平台交易的相关资料，协助相关司法部门判决。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户使用本平台进行交易时，必须了解且遵守以下事项：</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">a）服务者和需求者必须通过自己的谨慎判断来确定交易标的、服务者和需求者信息的真实性、合法性以及准确性。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">b）服务者和需求者必须对交易负完全责任。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">c）服务者和需求者必须自行解决由交易所引起的纠纷。平台仅义务提供调停，但不对纠纷结果负责。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">d）服务者和需求者必须自行负担因交易而产生的费用。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">e）服务者和需求者必须了解并遵守中华人民共和国的相关法律规定。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2．3用户同意遵守《全国人民代表大会常务委员会关于维护互联网安全的决定》、《互联网信息服务管理办法》、《中华人民共和国保密法》、《计算机信息系统国际联网保密管理规定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国计算机信息网络国际联网管理暂行规定》及其实施办法等相关法律法规的规定，并对注册本人以任何方式使用本平台的任何行为及其结果承担全部责任。在任何情况下，如果本平台有理由认定用户的行为，包括但不限于用户的任何言论和其它行为，违反或可能违反上述法律和法规的任何规定，本平台可在任何时候不经任何事先通知终止向用户提供本平台的服务。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">进入本平台进行交易，即代表接受本平台的各项服务协议、规则和公告并接受本平台系统提供的服务与规范，通过电子协议的形式缔结平台所有相关协议。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4服务者的权利与义务</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4.1做为服务者，用户在发布服务时，应该根据《限制与禁止出售规则》先行判断是否有出售该标的的权利、交易标的是否合法。按照《商品刊登和发布规则》的规定，提供正确的服务名称和准确、真实、完整说明内容与实物图片和其他信息。在确认提交出售标的后，即代表服务者同意。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4.2服务者注册</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台，发布服务即代表同意提供合规、真实、合法服务。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4.3应邀需求者后，服务者有义务就需求者的问题、交易所涉及事项通过平台进行售前沟通解答。服务者不得在沟通中诱骗需求者转至其他第三方平台以索要红包、交通费等名义要求需求者提前付款。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4.4服务者和需求者确认交易事项，达成交易共识后，即代表服务者同意提供服务，在未提前告知需求者时，不得单方面爽约。否则需求者有权追究因此产生的相关损失。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4.5服务者发布服务即代表同意保证服务上传信息的真实性，并保证提供的服务（包括线上服务和线下服务）为本人并与在平台发布的服务一致。若不一致，需求者有权举报，平台不排除追究服务者相关法律责任。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.4.6服务者应邀报价后，应按照报价或约定价格进行服务交易。不得擅自变更服务项目或改价。若未协商一致的，需在开始服务前终止交易，若未终止即代表同意按照应邀信息进行服务。若由于服务者原因中途变更或终止服务，需求者及平台有权追究相关法律责任。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.5需求者的权利与义务</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.5.1需求者发布需求后，即代表授权本平台向卖家披露您的必要信息并同意接受</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台提供的撮合服务，需求者有义务按照平台使用手册中所有协议包括但不限于《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">使用协议》、《</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户行为规范》、《审核规范》及平台其他全部协议中规定的要求发布需求。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.5.2做为需求者，出价前，应详细审阅《用户使用协议》及评估服务者个人资料（包括不限于昵称、头像、我的简介、教育经历、竞争描述、工作经历、服务介绍、荣誉资质、专业文档等图、文资、影音资料），在充分了解服务者信息后发布需求，一经发布即代表需求者已经了解并同意服务者的服务信息和服务内容。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.5.3</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">用户在平台充值或用户在平台赚得的钱可以提现至个人银行卡，提现时平台将收取</font>10%<font face="宋体">的推广费。</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(127,127,127);mso-shading:rgb(127,127,127);">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.5.4需求者有权利在订单有效期内享受服务者应邀，直至所发布订单应邀满为止。订单在有效期内，为保证服务者的服务，需求者不得删除或关闭当前订单；订单有效期到期后，该笔订单剩余诚意金需求者可手动申请退回至</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户</font>“我的充值”账户。
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">三、出售及购买服务</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">本平台用户在进行买卖交易时，必须依照以下服务协议进行：</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.1
                用户在非本平台之外的所有操作及交易，</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台无权干涉，若因此产生的任何纠纷</font>
            </span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">无权负责。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.2不得提供禁止、限制出售的物品和服务作为出交易标的及赠品。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.3不得在交易的刊登内容中发布任何不符合本服务协议精神的交易要求，包括但不限于平台发布的《审核规范》、《</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户行为规范》在内的平台所有协议。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.4不得利用本平台进行任何欺诈或欺骗的行为；服务者必须保证对于出售的物品或服务具有合法处分的权利，没有涉及侵害他人权利的情形，如有需要，服务者有义务向需求者提供关于该出售物品或服务的相关证明文件（包括但不限于身份认证、技能认证等）。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.5如依法律规定，特定物品或服务的买卖或持有需先取得相关执照或许可时，服务者和需求者必须持有或取得相关执照或许可，方可进行买卖。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.6用户不得操纵交易，如：故意压低出价，以免费服务为噱头等其他非正当营销手段。
                3.7不得干扰正在进行中的订单，例如在其他服务者正在接洽或者交易时，服务者不得干扰需求者决策或以诋毁、阻拦等方式阻碍其他服务者沟通服务。</span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.8对于确认交易的服务，如需求者已经支付定金或全款，既视为服务开始，服务者有责任按照应邀报价或双方约定的价格进行交易，除非需求者资料不实导致服务者无法确认其身份；对于已经确定开始的服务，需求者有责任按照服务者报价或双方约定的价格进行交易，除非服务者资料不实导致需求者无法确认其身份。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.9所有利用本平台从事经营性活动的注册用户，应遵守《电子商务监督管理暂行办法》。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">四、商品刊登和发布条款</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">4.1为了保证交易的顺利进行，用户注册即代表了解并同意遵守本平台使用手册中所有协议及平台所有规范，用户一旦使用违反《审核规范》、《</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">用户行为规范》的相关规定，本平台保留给予相关用户警告，冻结或终止其帐户的权利，由此类行为所引起的法律责任由相关用户完全承担，与本平台无关。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">五、会员的权利和义务</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">5.1本平台用户不得出售国家法律、法规或本平台禁止交易的物品和服务。对国家法律、法规限制交易的物品和服务，应符合有关法律、法规所规定的条件。一旦本平台发现有任何禁止交易物品或不符合特殊交易条件的限制交易物品和服务，有权将发布相关信息予以删除，并保留给予相关用户警告、冻结或终止其帐户的权利。在用户准备应用本平台进行交易之前，应仔细阅读本平台使用手册中所有协议及平台相关规定。由于违规交易所引起的法律责任由相关用户完全承担，与本平台无关。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">六、授权</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">6.1任何交易物品或服务的资料一经上传、输入或提供至本平台之时，视为用户已允许本平台可以以宣传本平台或交易物品（包括您的或他人的）为目的，无条件在本平台及以外的其它平台重制、散布、修改、展示、公开播送、公开传输这些资料，并且用户对此不会向本平台提出异议。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">七、安全交易</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">7.1平台提供手机认证、身份认证、支付宝认证、微信认证、微博认证、芝麻信用认证、技能认证在内的多种认证机制。平台本着“倡导不强制”的原则，用户可根据个人情况自行提交认证资料。平台鼓励用户选择有认证标识的用户进行交互。对于无认证信息用户产生的违规行为，与平台无关。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">八、效力</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">8.1
                本平台上所公布的所有规范及使用说明均构成本服务协议的一部分，所有用户应该予以遵守。</span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">8.2本平台有权于任何时间修改或变更本服务协议、及其它相关规定。上述规定若有任何重大变更或修改，修订后的上述规定自公布时起生效，用户若在上述规定修改之后，仍继续使用本平台，则视为接受和自愿遵守修订后的规定。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">九、违反使用规范</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">9.1本平台对于用户所发布的买卖物品及信息（
                以下称“买卖信息”）将会进行审核，如果发现包含有禁售、限售物品或非法信息，本平台有权随时不通知用户的情况下删除该买卖信息。但是，用户本人仍需对所发布的信息承担法律责任，若用户违反本使用规范或任何公告于本平台的服务使用说明，本平台有权在不通知用户的情况下立即删除用户所发布信息，情节严重的终止使用本平台的权利。若用户的行为如有触犯相关法律，本平台并可以提请相关单位进行调查并追究责任。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">9.2本平台若因用户发布的信息侵害了除该用户本人、</span><span
                style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:-webkit-standard;mso-hansi-font-family:-webkit-standard;mso-bidi-font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="宋体">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="-webkit-standard">平台之外的第三人权利或违反了相关规定，而受到第三人的追偿或受到主管机关的处分时，发布信息者应赔偿本平台因此所产生的一切损失及费用。</font>
            </span><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">十、本平台的责任范围</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">10.1当用户使用本平台并享受平台服务时，即代表用户已经阅读并接受本协议全部条款。并且承诺使用本平台的风险由用户本人负担。本平台是在现有技术基础上提供的。本平台不保证以下事项∶</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">a)本平台将符合您的要求。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">b)本平台不受干扰、能够及时提供、安全可靠或免于出错。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">c)本服务使用权的取得结果是正确或可靠的。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">d)您经由本平台购买或取得的任何商品或服务将符合您的期望。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">10.2是否经由本平台下载或取得任何资料，由用户自行考虑、衡量并且自负风险。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">10.3用户自本平台或经由本平台取得的信息和咨询，无论其为书面或口头，绝不包含或以任何方式构成本服务协议未明示规定的任何保证。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">10.4基于以下原因而造成的利益、名义、使用、资料损失或其它无形损失，本平台不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿：</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">a)本平台的使用或无法使用。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">b)经由或通过本平台购买或取得的任何商品，或接收之讯息，或进行交易所随之产生的替代商品及服务的购买成本。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">c)用户的传输或资料遭到未获授权的存取或变更。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">d)本平台中任何第三人的声明或行为。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">e)本平台其它相关事宜。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">10.5本平台只是为用户提供一个信息撮合的平台，对于用户所刊登的交易物品或信息的合法性、真实性及其品质，以及用户履行交易的能力等，本平台一律不负任何担保责任。用户如果因使用本平台，或因购买刊登于本平台的任何物品或服务而受到损害时，本平台不负任何补偿或赔偿责任。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">十一、知识产权的保护</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">11.1本平台及本平台所使用的任何相关软件、程序、内容，包括但不限于作品、图片、档案、资料、网站构架、网站版面的安排、网页设计、经由本平台或广告商向用户呈现的广告或资讯，均由本平台或其它权利人依法享有相应的知识产权，包括但不限于著作权、商标权、专利权或其它专属权利等，受到相关法律的保护。未经本平台或权利人明示授权，您保证不修改、出租、出借、出售、散布本平台及本平台所使用的上述任何资料和资源，或根据上述资料和资源制作成任何种类物品。本平台授予您个人、不可转移及非专属的使用权，使您可以通过单机计算机使用本平台的目标代码（以下简称“软件”），但用户不得且不得允许任何第三人，复制、修改、创作衍生作品、进行还原工程、反向组译，或以其它方式破译或试图破译源代码，或出售、转让“软件”或对“软件”进行再授权，或以其它方式移转“软件”之任何权利。用户同意不以任何方式修改“软件”，或使用修改后的“软件”。用户不得经由非本平台所提供的界面使用本平台。</span><span
                style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <h4 style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="-webkit-standard">十二、通知方式</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-weight:bold;font-size:11.0000pt;mso-font-kerning:0.0000pt;">
                    <o:p></o:p>
                </span></b></h4>
        <p class="p" style="mso-pagination:widow-orphan;line-height:16.9000pt;background:rgb(255,255,255);"><span style="mso-spacerun:'yes';font-family:-webkit-standard;color:rgb(0,0,0);font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">12.1就本服务协议项下的有关事项，或本平台提供的服务而涉及的有关事项，均将通过平台本身使用手册相关页面做公示且公示即视为生效。</span><span
                style="mso-spacerun:'yes';font-family:Calibri;mso-fareast-font-family:宋体;mso-bidi-font-family:'Times New Roman';font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
    </div>
    <!--EndFragment-->
</body>
</head>



</html>