<!doctype html>
<html id="app">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<meta name="description" content="帮助中心">
		<title>
			帮助中心
		</title>
		<style>
			a{
				display: inline-block;
				text-decoration: none;
				color:#333;
				font-size:1.6rem;
				width:80%;
			}
			ul,li{
				padding:0;
				list-style: none;
				line-height: 4rem;
				height:4rem;
				border-bottom: 1px solid #eee;
			}
			li{
				display: flex;
			}
			.imgBox {
				flex:1;
				padding:1.25rem 1rem 1.25rem 0;
				text-align: right;
			}
			img {	
				float:right;			
				height:1.5rem;
			}
		</style>
		<script type="text/javascript">
			(function() {
				var newRem = function() {
					var html = document.documentElement;
					html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
				};
				window.addEventListener('resize', newRem, false);
				newRem();
			})();
		</script>
	</head>

	<body>
		<div>
			<ul>
				<li>
					<a href="/helps/syxy">
						使用协议
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
					
				</li>
				<li>
					<a href="/helps/yszc">
						隐私政策
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/fwxy">
						服务协议
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/czxy">
						充值协议
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/fwbz">
						服务保障
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/zhxxgl">
						账号与个人信息管理
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/shrz">
						审核认证
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/shgf">
						审核规范
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/gxzgz">
						贡献值规则
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/hlggz">
						活力果规则
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/yhgf">
						用户行为规范
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/contributionRebate">
						贡献值与返利规则
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<!--<li>
					<a href="/helps/yhgf">
						生活服务
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>-->
				<li>
					<a href="/problem">
						钱包-常见问题
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/shopProblem">
						商城-常见问题
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/qt">
						其他
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/aboutMe">
						关于我们
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
				<li>
					<a href="/helps/lxwm">
						联系我们
					</a>
					<div class="imgBox">
						<img src="../../public/images/right.png" alt="" />
					</div>
				</li>
			</ul>
		</div>

	</body>

</html>