<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="链活活力攻略">
    <title>
        {{ title }}
    </title>
    <style>
        #msgbox {
				padding:0.5rem;
			}
			p {
		font-size: 1.4rem;
	}
	th {
		font-weight:400;
	}
		</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>

<body>

    <div id="msgbox">
		<h1 style="text-align: center;font-family:'宋体';">活力果规则</h1>
        <div>
            
            <div style="overflow:hidden;">
                <p style="float:left;">链活平台产物（运用区块链技术产生的非对称加密数字资产）：活力果</p>
                <p style="float:right;">总数：5亿</p>
            </div>

            <p>获取途径：</p>
            <p>①.活力果树采集</p>
            <p>②.用户间扫码支付、转赠</p>
            <p>用途：</p>
            <p>①.购买活力果树</p>
            <!-- <p>③.升值交易</p> -->
           
            <p>②.参与娱乐小游戏</p>
            <p>③.兑换活力商城的商品</p>
            <p>④.购买学习班</p>
            <p>1).普通用户首次注册app平台即送青铜级体验活力树一棵，挖掘寿命30天，到期枯萎。</p>
            <p>2).用户升级达到上一等级，平台赠送当前等级活力树一棵，每个等级对应采果产量不同，等级越高产量越高</p>
            <p>3).平台推出各级活力树供用户购买，用户可使用活力果来购买。</p>
            <p>4).活力果总数恒定，随着采摘数量增大，难度也增大，直至全部采完。</p>
            <p>5).用户登陆进入链活APP主页面，活力果开始生产，每小时产生相应活力果，用户可采摘活力果到自己账户。（需联网在线运行）</p>
            <p>
                    注：活力果是一种用应用价值的数字资产，发行数量固定且不断在减少，未来将拥有无限价值。
            </p>
        </div>
    </div>

</body>

</html>