<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="钱包常见问题">
    <title>
        钱包常见问题
    </title>
	<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:SimSun;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 680460288 22 0 262145 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:1;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:0 0 0 0 0 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1073786111 1 0 415 0;}
@font-face
	{font-family:微软雅黑;
	panose-1:2 11 5 3 2 2 4 2 2 4;
	mso-font-charset:134;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-2147483001 672087122 22 0 262175 0;}
@font-face
	{font-family:"\@微软雅黑";
	panose-1:2 11 5 3 2 2 4 2 2 4;
	mso-font-charset:134;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-2147483001 672087122 22 0 262175 0;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 680460288 22 0 262145 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:12.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:宋体;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-unhide:no;
	mso-style-link:"页眉 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	border:none;
	mso-border-bottom-alt:solid windowtext .75pt;
	padding:0cm;
	mso-padding-alt:0cm 0cm 1.0pt 0cm;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:宋体;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-unhide:no;
	mso-style-link:"页脚 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:宋体;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
span.Char
	{mso-style-name:"页眉 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:页眉;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:宋体;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
span.Char0
	{mso-style-name:"页脚 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:页脚;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:宋体;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:10.0pt;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	mso-font-kerning:0pt;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("kkk.files/header.html") fs;
	mso-footnote-continuation-separator:url("kkk.files/header.html") fcs;
	mso-endnote-separator:url("kkk.files/header.html") es;
	mso-endnote-continuation-separator:url("kkk.files/header.html") ecs;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:15.6pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 @list l0
	{mso-list-id:-383175539;
	mso-list-type:simple;
	mso-list-template-ids:-383175539;}
@list l0:level1
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;
	tab-stops:15.6pt;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>
<body lang="ZH-CN" style="tab-interval:21.0pt;text-justify-trim:punctuation">

<div class="WordSection1" style="layout-grid:15.6pt">

<h2 style="text-align: center;font-family:'宋体';">钱包-常见问题</h2>

<p class="MsoNormal"><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">如何设置钱包支付密码？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">链活钱包支付密码要求至少<span lang="EN-US">6</span>位字符，由不同的数字构成，是用户支付现金或活力果时的钥匙。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">忘记支付密码怎么办？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">忘记支付密码，可通过短信验证码设置新的支付密码。登录链活<span lang="EN-US">app</span>，点击我的<span lang="EN-US">-</span>设置<span lang="EN-US">-</span>设置支付密码，按提示步骤重新设置新的支付密码。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">为什么支付密码跟登录密码不一样？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">为保障用户的资金安全，链活有登录和支付两个密码，两个密码不能相同。登录密码是用户登录链活时使用的密码，支付密码是用户在链活进行交易时使用的密码。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">如何管理钱包银行卡？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">用户登录链活<span lang="EN-US">app</span>后，点击我的<span lang="EN-US">-</span>钱包<span lang="EN-US">-</span>银行卡，进入银行卡管理界面，可以添加或删除绑定银行卡。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">为什么无法成功绑定银行卡？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">建议您可以核实下自己所留的银行端信息和链活钱包上信息是否一致，如银行系统上存在多个不同业务留的手机号码不一样的情况会导致您在钱包里不能成功绑定。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">钱包中的钱可以提现吗？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">可以。在我的钱包界面点击“提现”，选择要提现至的银行卡，输入提现金额与支付密码即可完成提现。如果未绑定银行借记卡，则需要先绑定。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">如何为钱包充值？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">在我的<span lang="EN-US">-</span>钱包界面点击“余额”，选择“充值”按钮，选择或输入充值金额与钱包支付密码即可完成充值，目前只支持微信充值和支付宝充值两种方式。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">钱包提现是实时到账的吗？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">是的，根据不同银行之间的交易操作，一般<span lang="EN-US">30</span>分钟内即可到账。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">如何用活力果支付和收果？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">可以通过扫码支付和收果。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">充值会有每日限额吗？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">由于目前平台暂只支持微信和支付宝充值，具体限额以转账页面显示信息为准。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><b><span lang="EN-US" style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span></b><!--[endif]--><b><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">钱包支持绑定那些银行的借记卡？<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal"><span style="font-size:11.0pt;mso-bidi-font-size:14.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">绑定借机卡所支持的银行列表，可在绑定借记卡信息界面查看。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><a name="_GoBack"></a><span lang="EN-US" style="font-size:
11.0pt;mso-bidi-font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑"><o:p>&nbsp;</o:p></span></p>

</div>




</body>
</html>