<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="商城常见问题">
    <title>
        商城常见问题
    </title>
    <style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
@font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:SimSun;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 680460288 22 0 262145 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:1;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:0 0 0 0 0 0;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1073786111 1 0 415 0;}
@font-face
	{font-family:微软雅黑;
	panose-1:2 11 5 3 2 2 4 2 2 4;
	mso-font-charset:134;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-2147483001 672087122 22 0 262175 0;}
@font-face
	{font-family:"\@微软雅黑";
	panose-1:2 11 5 3 2 2 4 2 2 4;
	mso-font-charset:134;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-2147483001 672087122 22 0 262175 0;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 680460288 22 0 262145 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:12.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:宋体;
	mso-bidi-font-family:"Times New Roman";
	mso-font-kerning:1.0pt;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-unhide:no;
	mso-style-link:"页眉 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	border:none;
	mso-border-bottom-alt:solid windowtext .75pt;
	padding:0cm;
	mso-padding-alt:0cm 0cm 1.0pt 0cm;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:宋体;
	mso-bidi-font-family:"Times New Roman";
	mso-font-kerning:1.0pt;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-unhide:no;
	mso-style-link:"页脚 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:none;
	tab-stops:center 207.65pt right 415.3pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-fareast-font-family:宋体;
	mso-bidi-font-family:"Times New Roman";
	mso-font-kerning:1.0pt;}
span.Char
	{mso-style-name:"页眉 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:页眉;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-font-kerning:1.0pt;}
span.Char0
	{mso-style-name:"页脚 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:页脚;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Calibri","sans-serif";
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-font-kerning:1.0pt;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	mso-fareast-font-family:宋体;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("fff.files/header.html") fs;
	mso-footnote-continuation-separator:url("fff.files/header.html") fcs;
	mso-endnote-separator:url("fff.files/header.html") es;
	mso-endnote-continuation-separator:url("fff.files/header.html") ecs;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:15.6pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 @list l0
	{mso-list-id:-1670006987;
	mso-list-type:simple;
	mso-list-template-ids:-1670006987;}
@list l0:level1
	{mso-level-suffix:space;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;}
@list l1
	{mso-list-id:-632202835;
	mso-list-type:simple;
	mso-list-template-ids:-632202835;}
@list l1:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l2
	{mso-list-id:-15963745;
	mso-list-type:simple;
	mso-list-template-ids:-15963745;}
@list l2:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l3
	{mso-list-id:45167308;
	mso-list-type:simple;
	mso-list-template-ids:45167308;}
@list l3:level1
	{mso-level-suffix:space;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;}
@list l4
	{mso-list-id:431915071;
	mso-list-type:simple;
	mso-list-template-ids:431915071;}
@list l4:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l5
	{mso-list-id:776866647;
	mso-list-type:simple;
	mso-list-template-ids:776866647;}
@list l5:level1
	{mso-level-suffix:space;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;}
@list l6
	{mso-list-id:852937924;
	mso-list-type:simple;
	mso-list-template-ids:852937924;}
@list l6:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
@list l7
	{mso-list-id:976270513;
	mso-list-type:simple;
	mso-list-template-ids:976270513;}
@list l7:level1
	{mso-level-suffix:space;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;}
@list l8
	{mso-list-id:1357062683;
	mso-list-type:simple;
	mso-list-template-ids:1357062683;}
@list l8:level1
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:15.6pt;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;}
@list l9
	{mso-list-id:1447711740;
	mso-list-type:simple;
	mso-list-template-ids:1447711740;}
@list l9:level1
	{mso-level-suffix:space;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:0cm;
	text-indent:0cm;}
@list l10
	{mso-list-id:2030548752;
	mso-list-type:simple;
	mso-list-template-ids:2030548752;}
@list l10:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0D8;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:21.0pt;
	text-indent:-21.0pt;
	font-family:Wingdings;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>
<body lang="ZH-CN" style="tab-interval:21.0pt;text-justify-trim:punctuation">

<div class="WordSection1" style="layout-grid:15.6pt">

<h2 style="text-align: center;font-family:'宋体';">活力商城-常见问题</h2>

<p class="MsoNormal" style="margin-left:21.0pt;text-indent:-21.0pt;mso-list:l2 level1 lfo1"><!--[if !supportLists]--><span lang="EN-US" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings;mso-bidi-font-weight:bold"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><!--[endif]--><b><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">购买类<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">1. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">商城的产品都是正品吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，所有进驻商城的产品都需经过严格检验，产品信息都将上传到区块链上，包括资质证明，样品验证，他人认证等，保证您收到的产品都是正品。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">2. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">下单后，可以修改订单吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，在没有支付活力果之前可以修改，支付购买后无法修改订单。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">3. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">订单如何取消？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，支付购买后无法取消订单。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">4. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">订单取消后，还能恢复吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，订单一旦取消后，将无法恢复，您可以重新下订单。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">5. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">可以直接拨打客服热线选购商品吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，订购商品直接在商城下订单就可以了。如有疑问可以拨打客服热线<span lang="EN-US">0797-2131415<o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">6. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">请问如果购买的多的话，能否有优惠呢？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，商城上任何产品，购买数量超过或等于<span lang="EN-US">10</span>单位的，具体订购请直接咨询商城客服，或直接致电<span lang="EN-US">0797-2131415</span>。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">7. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">商品太多，找不到自己想要的型号怎么办？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，可以直接点击顶部搜索栏，输入您想要购买的商品进行搜索哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l3 level1 lfo2"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">8. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">可以线上购买，线下交易吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，为了保障您的合法权益，商城仅支持纯线上购买交易哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-left:21.0pt;text-indent:-21.0pt;mso-list:l4 level1 lfo3"><!--[if !supportLists]--><span lang="EN-US" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings;mso-bidi-font-weight:bold"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><!--[endif]--><b><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">支付类<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l5 level1 lfo4"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">1. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">商城购买商品支付方式有哪些，如何支付？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，目前商城仅支持用活力果进行支付，提交订单后扫描商家收款二维码进行支付即可。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l5 level1 lfo4"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">2. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">提交订单后，可以选择微信或者支付宝支付吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，目前商城仅支持在线扫码支付活力果哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l5 level1 lfo4"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">3. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">链活商城是否支持货到付款呢？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，为了保障买卖双方的相关权益，目前商城暂不支持货到付款，祝您购物愉快！<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l5 level1 lfo4"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">4. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">为什么我下单后提交订单，却显示付款失败呢？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，出现这种情况可以先检查一下您的活力口袋看活力果数量是否多于支付费用，也拨打客服热线<span lang="EN-US">0797-2131415</span>进行咨询。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l5 level1 lfo4"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">5. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">为什么我明明支付成功，订单却显示未付款呢？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，可能会因网络原因有订单滞后现象，建议您刷新一下手机页面，或者半小时后再查看。届时如果还没有查看到您的成功付款订单，请拨打客服热线<span lang="EN-US">0797-2131415</span>进行咨询。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-left:21.0pt;text-indent:-21.0pt;mso-list:l1 level1 lfo5"><!--[if !supportLists]--><span lang="EN-US" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><!--[endif]--><b><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">配送类</span></b><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l9 level1 lfo6"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">1. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">商城实现包邮吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，这个具体得咨询发货商家哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l9 level1 lfo6"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">2. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">支付订单后，多久可以发货？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，商城要求商家需在买家支付费用后<span lang="EN-US">3</span>个工作日之内发货。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l9 level1 lfo6"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">3. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">商城一般通过什么快递公司发货？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，这个具体得咨询发货商家哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l9 level1 lfo6"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">4. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">请问要如何修改收货地址呢？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，点击<span lang="EN-US">"</span>我的订单<span lang="EN-US">"</span>链接，在您需要修改地址的订单右侧点击<span lang="EN-US">"</span>修改地址<span lang="EN-US">"</span>即可。已经进入配货流程的订单暂时不支持修改地址。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l9 level1 lfo6"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">5. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">签收时发现商品包装破损，该如何处理？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，一旦商品包装出现破损，请咨询下配送师傅是否可以查看商品是否完好，如商品完好，请您放心签收，如商品破损，请您拒收商品；如已签收，请您在签收<span lang="EN-US">24</span>小时内拨打客服热线<span lang="EN-US">0797-2131415</span>进行处理。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" align="left" style="text-align:left"><b><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><o:p>&nbsp;</o:p></span></b></p>

<p class="MsoNormal" align="left" style="margin-left:21.0pt;text-align:left;
text-indent:-21.0pt;mso-list:l10 level1 lfo7"><!--[if !supportLists]--><span lang="EN-US" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings;mso-bidi-font-weight:bold"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><!--[endif]--><b><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">售后类<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo8"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">1. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">选错型号的产品可以申请退换货吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，在还没有支付之前可以修改订单，在支付成功后请与商家进行协商。夺宝类商品暂不支持退换货。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo8"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">2. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">收到货后如何进行晒单、评价？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，进入商城，点击我的“购买记录”进行评价。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo8"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">3. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">可以修改对商品的使用评价吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，由于晒单和评价体现了用户对此商品的真实看法，对其他用户起到了一个重要的参考作用，同时也是为了保证商城新老用户的公平、公正性，所以暂时无法对晒单或者是评价进行修改。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l0 level1 lfo8"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">4. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">对购买的商品不满意，可以选择退货吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，如果非质量问题，可以拨打客服热线<span lang="EN-US">0797-2131415</span>进行处理。夺宝类商品暂不支持退换货。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">5.</span><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑">退换货的运费由个人支付吗？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，由于用户个人原因造成的退换货运费需由用户自行承担。<b><span lang="EN-US"><o:p></o:p></span></b></span></p>

<p class="MsoNormal" align="left" style="margin-left:21.0pt;text-align:left;
text-indent:-21.0pt;mso-list:l6 level1 lfo9"><!--[if !supportLists]--><span lang="EN-US" style="font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings;mso-bidi-font-weight:bold"><span style="mso-list:Ignore">Ø<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span></span></span><!--[endif]--><b><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">其它类<span lang="EN-US"><o:p></o:p></span></span></b></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l7 level1 lfo10"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">1. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">什么是活力果？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，活力果是链活平台的原生数字货币，也是您在商城购买商品的流通货币。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l7 level1 lfo10"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">2. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">如何获得活力果？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l8 level1 lfo11;
tab-stops:list 15.6pt"><!--[if !supportLists]--><span lang="EN-US" style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">活力果树采摘；<span lang="EN-US">b.</span>其它用户转赠；<span lang="EN-US">c.</span>进驻链活商城售卖商品。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;mso-list:l7 level1 lfo10"><!--[if !supportLists]--><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑"><span style="mso-list:Ignore">3. </span></span><!--[endif]--><span style="font-family:
&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:微软雅黑">我是商家，想在商城出售我的商品，怎么联系？<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
微软雅黑">您好，欢迎可提供高品质产品的品牌、渠道代理商等进驻链活商城，如您有意，可直接根据商家须知上架商品，也可拨打客服热线<span lang="EN-US">0797-2131415</span>联系我们。<span lang="EN-US"><o:p></o:p></span></span></p>

<p class="MsoNormal"><b><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:微软雅黑"><o:p>&nbsp;</o:p></span></b></p>

<p class="MsoNormal" align="left" style="text-align:left"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>

</div>




</body>


</html>