<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="链活审核认证">
    <title>
        链活审核认证
    </title>
    <style>
        @font-face{
            font-family:"Times New Roman";
            }
            
            @font-face{
            font-family:"宋体";
            }
            
            @font-face{
            font-family:"Wingdings";
            }
            
            @font-face{
            font-family:"Calibri";
            }
            
            @font-face{
            font-family:"微软雅黑";
            }
            
            p.MsoNormal{
            mso-style-name:正文;
            mso-style-parent:"";
            margin:0pt;
            margin-bottom:.0001pt;
            mso-pagination:none;
            text-align:justify;
            text-justify:inter-ideograph;
            font-family:Calibri;
            mso-fareast-font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-size:10.5000pt;
            mso-font-kerning:1.0000pt;
            }
            
            span.10{
            font-family:'Times New Roman';
            }
            
            span.msoIns{
            mso-style-type:export-only;
            mso-style-name:"";
            text-decoration:underline;
            text-underline:single;
            color:blue;
            }
            
            span.msoDel{
            mso-style-type:export-only;
            mso-style-name:"";
            text-decoration:line-through;
            color:red;
            }
            
            table.MsoNormalTable{
            mso-style-name:普通表格;
            mso-style-parent:"";
            mso-style-noshow:yes;
            mso-tstyle-rowband-size:0;
            mso-tstyle-colband-size:0;
            mso-padding-alt:0.0000pt 5.4000pt 0.0000pt 5.4000pt;
            mso-para-margin:0pt;
            mso-para-margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            font-family:'Times New Roman';
            font-size:10.0000pt;
            mso-ansi-language:#0400;
            mso-fareast-language:#0400;
            mso-bidi-language:#0400;
            }
            @page{mso-page-border-surround-header:no;
                mso-page-border-surround-footer:no;}@page Section0{
            margin-top:72.0000pt;
            margin-bottom:72.0000pt;
            margin-left:90.0000pt;
            margin-right:90.0000pt;
            size:595.3000pt 841.9000pt;
            layout-grid:15.6000pt;
            }
            div.Section0{page:Section0;}</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>

<body style="tab-interval:21pt;text-justify-trim:punctuation;">
    <!--StartFragment-->
    <div class="Section0" style="layout-grid:15.6000pt;">
    	<h1 style="text-align: center;font-family:'宋体';">认证审核</h1>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">上传的信息多久审核通过？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">用户自上传信息之后起</font>24小时内审核通过。如果时间已到还没有审核通过
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">821510504@qq.com</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">联系我们。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">什么样的头像更容易审核通过？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">必须是本人正面的，露出清晰五官的图片。建议您使用能够体现您美观大方的照片，有利于提升您的形象和成交率。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">什么样的语音介绍容易通过？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.语音介绍与您发布的技能品类相关，且内容丰富能体现您的专业性。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.语音录制时间恰当，不要太短。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.语音介绍当中不能出现联系方式</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">如何进行身份认证？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.登录链活APP平台后，点击进入技能管理&gt;个人认证&gt;身份认证。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.在身份证号码提示框内输入真实有效的本人身份证号码。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.分别上传清晰的手持证件头部照、身份证正面照、点击提交认证。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">注：</font>(1)用户认证后，身份证号等相关个人隐私信息不会显示在平台上。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;text-indent:21.0000pt;mso-char-indent-count:0.0000;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">(2)无大陆身份证的用户可以通过护照或者港澳台身份证进行认证哦。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">为什么需要身份认证？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">服务者：</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.身份认证有助于增加需求者对您的信任感，增强需求者的决策参考依据，提升您的成单概率。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.部分品类需要进行身份认证才可以使用应邀功能。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.身份认证后可以使用火箭功能，将您的信息排名靠前，增强您的曝光度。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">4.为确保资金安全，身份认证后可以才提现。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">需求者：</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.身份认证有助于增加服务者对您的信任感，为您提供更优质的服务。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2身份认证之后可以免费领取保险，保障自己的交易。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">如何进行技能认证？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.登录链活APP平台后，点击进入技能管理&gt;个人认证&gt;技能认证。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.选择要认证的技能</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.在证书名称提示框内输入要上传的证书名称。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">4.上传证书图片，提交完成技能认证。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">5.如需上传多个证书，可点击添加新证书，完成后提交。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">为什么需要技能认证？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">上传技能认证，有助于增加需求者信任感，增加您的成单概率。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">认证技能可以上传哪些证书？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">具体可点击</font>“个人中心”→“个人认证”→“技能认证”，点击您需要认证的技能，查看“需上传”的相关证书。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">认证后才能接单吗？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">多数品类无需认证就可以接单，但是部分品类需要认证后才能接单。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">如何修改自己的认证信息？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">认证信息不能自行修改，认为了保证信息的真实有效性平台仅提供一次审核提交机会，经过平台审核后显示在个人主页。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">身份认证被驳回怎么办？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">请详细阅读驳回理由，按照要求重新申请。在提交认证信息时，提交前请核对身份号是否输入正确，个人头像和身份证头像是否一致，上传的身份证照片清晰。具体可点击</font>“查看示例”，进行相应修改。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">技能认证被驳回怎么办？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.查看上传证书图片是否清晰</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.查看上传的证书是否与您发布的技能相符。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.确认证书是否与本人身份信息一致。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">4.确认证书是否含有个人信息。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">支付宝</font>/微信/微博/芝麻信用认证不成功？
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">该支付宝</font>/微信/微博/芝麻信用信息已经认证过链活的其他账户，目前我们暂不支持变更。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p>&nbsp;</o:p>
            </span></p>
    </div>
    <!--EndFragment-->
</body>


</html>