<!doctype html>
<html id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content="链活账号与个人信息管理">
    <title>
        链活账号与个人信息管理
    </title>
    <style>
        @font-face{
            font-family:"Times New Roman";
            }
            
            @font-face{
            font-family:"宋体";
            }
            
            @font-face{
            font-family:"Wingdings";
            }
            
            @font-face{
            font-family:"Calibri";
            }
            
            @font-face{
            font-family:"微软雅黑";
            }
            
            p.MsoNormal{
            mso-style-name:正文;
            mso-style-parent:"";
            margin:0pt;
            margin-bottom:.0001pt;
            mso-pagination:none;
            text-align:justify;
            text-justify:inter-ideograph;
            font-family:Calibri;
            mso-fareast-font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-size:10.5000pt;
            mso-font-kerning:1.0000pt;
            }
            
            span.10{
            font-family:'Times New Roman';
            }
            
            p.p{
            mso-style-name:"普通\(网站\)";
            mso-margin-top-alt:auto;
            mso-margin-bottom-alt:auto;
            mso-pagination:none;
            text-align:left;
            font-family:Calibri;
            mso-fareast-font-family:宋体;
            mso-bidi-font-family:'Times New Roman';
            font-size:12.0000pt;
            }
            
            span.msoIns{
            mso-style-type:export-only;
            mso-style-name:"";
            text-decoration:underline;
            text-underline:single;
            color:blue;
            }
            
            span.msoDel{
            mso-style-type:export-only;
            mso-style-name:"";
            text-decoration:line-through;
            color:red;
            }
            
            table.MsoNormalTable{
            mso-style-name:普通表格;
            mso-style-parent:"";
            mso-style-noshow:yes;
            mso-tstyle-rowband-size:0;
            mso-tstyle-colband-size:0;
            mso-padding-alt:0.0000pt 5.4000pt 0.0000pt 5.4000pt;
            mso-para-margin:0pt;
            mso-para-margin-bottom:.0001pt;
            mso-pagination:widow-orphan;
            font-family:'Times New Roman';
            font-size:10.0000pt;
            mso-ansi-language:#0400;
            mso-fareast-language:#0400;
            mso-bidi-language:#0400;
            }
            @page{mso-page-border-surround-header:no;
                mso-page-border-surround-footer:no;}@page Section0{
            margin-top:72.0000pt;
            margin-bottom:72.0000pt;
            margin-left:90.0000pt;
            margin-right:90.0000pt;
            size:595.3000pt 841.9000pt;
            layout-grid:15.6000pt;
            }
            div.Section0{page:Section0;}</style>
    <script type="text/javascript">
        (function () {
            var newRem = function () {
                var html = document.documentElement;
                html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
            };
            window.addEventListener('resize', newRem, false);
            newRem();
        })();
    </script>
</head>

<body style="tab-interval:21pt;text-justify-trim:punctuation;">
    <!--StartFragment-->
    <div class="Section0" style="layout-grid:15.6000pt;">
    	<h1 style="text-align: center;font-family:'宋体';">账号与个人信息管理</h1>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">账号安全</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.用户须自行负责账号和密码的安全，且须对在该账号下的所有行为（包括但不限于发布需求和技能信息，网上点击同意各类协议、规则等）承担责任。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.用户有权根据需要更改账号密码。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.因自身原因或其他非归于</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台的原因所进行的行为导致的任何损失由用户自行承担，该行为包括但不限于：</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">a.不按照交易提示操作；</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">b.在</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:0.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">之外的平台上进行交易；</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">c.遗忘或泄露密码；</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">d.密码被他人破解；</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="p" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">e.用户使用的计算机被他人侵入。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:0.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">4.</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">&nbsp;<font
                    face="微软雅黑">链活</font></span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台的用户名对应的是一个用户的个人账号，同时还和用户的实际身份、</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">账户、用户个人在</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台上的行为，以及交易记录相关联，</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台会对用户资料严格保密。账号密码等重要信息，用户自身需保存好，不外露、以保障您的账户资金和财产安全。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">手机收不到验证码？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.请核对手机号码是否正确。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.验证码自发送起10分钟内有效，由于短信网关的不同，接收短信可能遇到延迟，请耐心等待。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.可能运营商网络通道堵塞，请更换时间段重新尝试。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">4.可以尝试语音验证码进行验证。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">如果以上情况都没有问题，请联系</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">客服进行解决。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">如何修改登录密码？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.登录</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">APP平台后，进入“个人中心”—“系统设置”—“修改密码”里设置一个新密码，点击“完成”按钮，完成密码修改。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.手机客户端在初始登录页面时，通过点击“忘记密码”进行密码找回。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">注册后如何更改用户名？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">用户名是您在</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台上的身份标识，为保证交易信息真实可靠，一旦注册成功后，就无法再更改。如有特殊情况，</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <font face="微软雅黑">请联系客服邮箱</font>821510504@qq.com申请修改。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(127,127,127);mso-shading:rgb(127,127,127);">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">手机换号了怎么办？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">为了保障您的资金安全，暂不支持更换手机号。如遇特殊情况（手机号丢失，使用者变更等）变更，</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <font face="微软雅黑">请联系客服邮箱</font>821510504@qq.com申请修改
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">手机号被他人注册？</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <font face="微软雅黑">请提供相关证明到客服邮箱</font>821510504@qq.com，申请客服处理
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">可以注销账号吗？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">目前</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台不支持账号注销，若你不想再使用链活账号，不登录不使用即可。同时您可以进行如下操作：</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.删除您在</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台上的一切信息，如：技能信息、需求信息、相册等。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.回复T进行短信退订。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">3.在“个人中心”-“控制中心”设置勿扰时段、关闭声音通知、开启隐身接单。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">为什么账号被禁用或被封？</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">请参考《</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">使用协议》《</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台审核规范》的操作行为，对于违规操作及不正当交易等行为，</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">平台会根据违规情节大小给予相应处理，请注意自己的一切言行，规范使用</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">app。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">单次禁用时间是多久？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">单次禁用时间为</font>7天，7天后自动解封，连续禁用三次会自动封号。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">如何上传照片？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">1.登录</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">APP平台后，进入个人中心&gt;我的主页&gt;个人相册或进入个人中心&gt;我的相册。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-para-margin-left:0.0000gd;mso-pagination:widow-orphan;line-height:19.0000pt;"><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">2.点击右上方“上传”按钮，进入上传页面，选择要上传照片的技能品类（个人照片不用选择），点击“+”上传相关图片。</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">怎样修改头像？</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">点击个人中心</font>—头像，修改即可。建议您上传：本人正面的、露出清晰五官的头像。
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">性别点错了，怎么修改？</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">通过身份认证之后，系统会自动识别您正确的性别。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;"><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                    <font face="微软雅黑">链活</font>
                </span></b><b><span style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">ID可以更改吗？</span></b><b><span
                    style="mso-spacerun:'yes';font-family:微软雅黑;font-weight:bold;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="mso-pagination:widow-orphan;line-height:19.0000pt;"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">ID是用户注册后系统自动生成的账号，用于作为您在</span><span
                style="mso-spacerun:'yes';font-family:微软雅黑;font-size:11.0000pt;mso-font-kerning:1.0000pt;background:rgb(247,247,247);mso-shading:rgb(247,247,247);">
                <font face="微软雅黑">链活</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;background:rgb(255,255,255);mso-shading:rgb(255,255,255);">
                <font face="微软雅黑">上的固定账号，不可更改。</font>
            </span><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:12.0000pt;mso-font-kerning:1.0000pt;">
                <o:p></o:p>
            </span></p>
        <p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:微软雅黑;font-size:10.5000pt;mso-font-kerning:1.0000pt;">
                <o:p>&nbsp;</o:p>
            </span></p>
    </div>
    <!--EndFragment-->
</body>


</html>