<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/stylesheets/common.css">
    <link rel="stylesheet" href="../../public/stylesheets/my.css">
    <!-- 移动端适配 -->
    <script>
        var html = document.querySelector('html');
        changeRem();
        window.addEventListener('resize', changeRem);

        function changeRem() {
            var width = html.getBoundingClientRect().width;
            //console.log( width );
            html.style.fontSize = width / 10 + 'px';
        }
    </script>

<body>
    <div id="wrap">
        <header>
            <div class="title clearfix">
                客服热线：
                <div class="clearfix">
                    <p>
                        <i class="iconfont icon-qq"></i>
                        0797-2131415
                    </p>
                </div>
            </div>
        </header>
        
        <table style="width:100%;text-align: center;">

            {% if lastGiftList.length == 0 %}
            <h5 style="text-align: center;">暂无记录</h5>
            {% else %}
            <p style="color:#333;text-align: center;">
                只显示最近30条奖品记录
            </p>
            <tr class="main">
                <th>奖励</th>
                <th>数量</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
            {% for item in lastGiftList %}
            <tr>
                <td>{{item.unit}}</td>
                <td>{{item.number}}</td>
                <td>{{item.time}}</td>
                {% if item.status == 1 %}
                <td style="color:red;">待发放</td>
                {% else %}
                <td style="color:green;">已发放</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

    <script src="../../public/javascripts/jquery.min.js"></script>
</body>

</html>